In [2]:
import mysql.connector

mydb = mysql.connector.connect(
host="localhost",
user="root",
password="admin"
)

print(mydb)

<mysql.connector.connection_cext.CMySQLConnection object at 0x000001A07DD84FC8>

In [3]:
import mysql.connector

mydb = mysql.connector.connect(
host="localhost",
user="root",
password="admin"
)

mycursor = mydb.cursor()
mycursor.execute("CREATE DATABASE demodb")
print("db created")

db created

In [4]:
import mysql.connector

mydb = mysql.connector.connect(
host="localhost",
user="root",
password="admin"
)

mycursor = mydb.cursor()
mycursor.execute("show databases")
for x in mycursor:
    print(x)

('demodb',)
('information_schema',)
('mysql',)
('performance_schema',)
('sakila',)
('sys',)
('world',)

In [5]:
import mysql.connector

mydb = mysql.connector.connect(
host="localhost",
user="root",
password="admin"
)

mycursor = mydb.cursor()
print(mycursor)

CMySQLCursor: (Nothing executed yet)

In [9]:
import mysql.connector

mydb = mysql.connector.connect(
host="localhost",
user="root",
password="admin",
database="demodb"
)

mycur=mydb.cursor()
mycur.execute("CREATE TABLE customers(name VARCHAR(255),address VARCHAR(255))")

print("Table has been successfully created")

Table has been successfully created

In [13]:
import mysql.connector

mydb = mysql.connector.connect(
host="localhost",
user="root",
password="admin",
database="demodb"
)

mycur=mydb.cursor()
mycur.execute("SHOW TABLES")
for x in mycur:
    print(x)

('customers',)

In [14]:
import mysql.connector

mydb = mysql.connector.connect(
host="localhost",
user="root",
password="admin",
database="demodb"
)

mycur=mydb.cursor()
mycur.execute("CREATE TABLE students (id int AUTO_INCREMENT PRIMARY KEY, name VARCHAR(255),address VARCHAR(255))")

print("Table has been successfully created")

Table has been successfully created

In [16]:
import mysql.connector

mydb = mysql.connector.connect(
host="localhost",
user="root",
password="admin",
database="demodb"
)

mycur=mydb.cursor()

sql = "INSERT INTO customers(name,address) Values(%s,%s)"
value = ("yogesh","ballia")

mycur.execute(sql,value)
mydb.commit()
print("data inserted successfully")

data inserted successfully

In [30]:
import mysql.connector

mydb = mysql.connector.connect(
host="localhost",
user="root",
password="admin",
database="demodb"
)

mycur=mydb.cursor()

sql = "INSERT INTO customers(name, address) VALUES (%s, %s)"
val = [
  ('yogesh','uttar pradesh'),
  ('amit','mumbai'),
  ('Hannah',"jaipur"),
  ('Michael', "delhi"),
  ('Sandy', 'karnatka')
  
]

mycur.executemany(sql,val)
mydb.commit()
print("data inserted successfully")

data inserted successfully

In [34]:
import mysql.connector

mydb = mysql.connector.connect(
host="localhost",
user="root",
password="admin",
database="demodb"
)

mycur=mydb.cursor()
mycur.execute("SELECT * FROM customers")
myres= mycur.fetchall()
for x in myres:
    print(x)

('yogesh', 'ballia')
('yogesh', 'uttar pradesh')
('amit', 'mumbai')
('Hannah', 'jaipur')
('Michael', 'delhi')
('Sandy', 'karnatka')

In [35]:
import mysql.connector

mydb = mysql.connector.connect(
host="localhost",
user="root",
password="admin",
database="demodb"
)

mycur=mydb.cursor()
mycur.execute("SELECT name FROM customers")
myres= mycur.fetchall()
for x in myres:
    print(x)

('yogesh',)
('yogesh',)
('amit',)
('Hannah',)
('Michael',)
('Sandy',)