In [1]:
import mysql.connector

mydb = mysql.connector.connect(
host="localhost",
user="root",
password="admin"
)

print(mydb)

<mysql.connector.connection_cext.CMySQLConnection object at 0x0000018F06A5F088>

In [13]:
import mysql.connector

mydb = mysql.connector.connect(
host="localhost",
user="root",
password="admin"
)

mycursor = mydb.cursor()
mycursor.execute("CREATE DATABASE demodb")

print("db created")

DatabaseError: 1007 (HY000): Can't create database 'demodb'; database exists

In [12]:
import mysql.connector

mydb = mysql.connector.connect(
host="localhost",
user="root",
password="admin"
)

mycursor = mydb.cursor()
mycursor.execute("show databases")
for x in mycursor:
    print(x)

('demodb',)
('information_schema',)
('mysql',)
('performance_schema',)
('sakila',)
('sys',)
('world',)

In [14]:
import mysql.connector

mydb = mysql.connector.connect(
host="localhost",
user="root",
password="admin"
)

mycursor = mydb.cursor()
print(mycursor)

CMySQLCursor: (Nothing executed yet)

In [8]:
import mysql.connector

mydb = mysql.connector.connect(
host="localhost",
user="root",
password="admin",
database="demodb"
)

mycur=mydb.cursor()
mycur.execute("CREATE TABLE customers(name VARCHAR(255),address VARCHAR(255))")

print("Table has been successfully created")

ProgrammingError: 1050 (42S01): Table 'customers' already exists

In [3]:
import mysql.connector

mydb = mysql.connector.connect(
host="localhost",
user="root",
password="admin",
database="demodb"
)

mycur=mydb.cursor()
mycur.execute("SHOW TABLES")
for x in mycur:
    print(x)

('customers',)
('students',)
('studentsoflpu',)

In [14]:
import mysql.connector

mydb = mysql.connector.connect(
host="localhost",
user="root",
password="admin",
database="demodb"
)

mycur=mydb.cursor()
mycur.execute("CREATE TABLE students (id int AUTO_INCREMENT PRIMARY KEY, name VARCHAR(255),address VARCHAR(255))")

print("Table has been successfully created")

Table has been successfully created

In [4]:
import mysql.connector

mydb = mysql.connector.connect(
host="localhost",
user="root",
password="admin",
database="demodb"
)

mycur=mydb.cursor()

sql = "INSERT INTO customers(name,address) Values(%s,%s)"
value = ("yogesh","ballia")

mycur.execute(sql,value)
mydb.commit()
print("data inserted successfully")

data inserted successfully

In [30]:
import mysql.connector

mydb = mysql.connector.connect(
host="localhost",
user="root",
password="admin",
database="demodb"
)

mycur=mydb.cursor()

sql = "INSERT INTO customers(name, address) VALUES (%s, %s)"
val = [
  ('yogesh','uttar pradesh'),
  ('amit','mumbai'),
  ('Hannah',"jaipur"),
  ('Michael', "delhi"),
  ('Sandy', 'karnatka')
  
]

mycur.executemany(sql,val)
mydb.commit()
print("data inserted successfully")

data inserted successfully

In [34]:
import mysql.connector

mydb = mysql.connector.connect(
host="localhost",
user="root",
password="admin",
database="demodb"
)

mycur=mydb.cursor()
mycur.execute("SELECT * FROM customers")
myres= mycur.fetchall()
for x in myres:
    print(x)

('yogesh', 'ballia')
('yogesh', 'uttar pradesh')
('amit', 'mumbai')
('Hannah', 'jaipur')
('Michael', 'delhi')
('Sandy', 'karnatka')

In [10]:
import mysql.connector

mydb = mysql.connector.connect(
host="localhost",
user="root",
password="admin",
database="demodb"
)

mycur=mydb.cursor()
mycur.execute("SELECT name FROM customers")
myres= mycur.fetchall()
for x in myres:
    print(x)

('yogesh',)
('yogesh',)
('amit',)
('Hannah',)
('Michael',)
('Sandy',)

In [8]:
import mysql.connector

mydb = mysql.connector.connect(
host="localhost",
user="root",
password="admin",
database="demodb"
)

mycur=mydb.cursor()
# mycur.execute("SELECT name FROM customers WHERE address like '%uttar%'")
mycur.execute("SELECT * FROM customers WHERE name = 'yogesh'")
myres= mycur.fetchall()
for x in myres:
    print(x)

ProgrammingError: 1064 (42000): You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near 'FROM customers WHERE name = 'yogesh'' at line 1

In [20]:
import mysql.connector

mydb = mysql.connector.connect(
host="localhost",
user="root",
password="admin",
database="demodb"
)

mycur=mydb.cursor()
mycur.execute("SELECT * FROM customers ORDER BY name")
myres= mycur.fetchall()
for x in myres:
    print(x)

('amit', 'mumbai')
('Hannah', 'jaipur')
('Michael', 'delhi')
('Sandy', 'karnatka')
('yogesh', 'ballia')
('yogesh', 'uttar pradesh')
('yogesh', 'ballia')

In [17]:
import mysql.connector

mydb = mysql.connector.connect(
host="localhost",
user="root",
password="admin",
database="demodb"
)

mycur=mydb.cursor()
mycur.execute("SELECT * FROM customers ORDER BY name DESC")
myres= mycur.fetchall()
for x in myres:
    print(x)

('yogesh', 'ballia')
('yogesh', 'uttar pradesh')
('yogesh', 'ballia')
('Sandy', 'karnatka')
('Michael', 'delhi')
('Hannah', 'jaipur')
('amit', 'mumbai')

In [9]:
import mysql.connector

mydb = mysql.connector.connect(
host="localhost",
user="root",
password="admin",
database="demodb"
)

mycur=mydb.cursor()
mycur.execute("DELETE FROM customers WHERE address = 'delhi'")
mydb.commit()
myres= mycur.fetchall()
print(mycursor.rowcount, "record(s) deleted")

In [32]:
import mysql.connector

mydb = mysql.connector.connect(
host="localhost",
user="root",
password="admin",
database="demodb"
)

mycur=mydb.cursor()
mycur.execute("UPDATE customers SET address = 'mumbai' WHERE address = 'uttar pradesh'")
myres= mycur.fetchall()


print(mycur.rowcount, "record(s) updated")

1 record(s) updated

In [18]:
import mysql.connector

mydb = mysql.connector.connect(
host="localhost",
user="root",
password="admin",
database="demodb"
)

mycur=mydb.cursor()
mycur.execute("SELECT * FROM customers ORDER BY name DESC LIMIT 5 OFFSET 2")
myres= mycur.fetchall()
for x in myres:
    print(x)

('yogesh', 'ballia')
('Sandy', 'karnatka')
('Michael', 'delhi')
('Hannah', 'jaipur')
('amit', 'mumbai')

In [2]:
import mysql.connector

mydb = mysql.connector.connect(

  host = "localhost",

  user = "root",

  passwd = "admin",

  database = "demodb"

)

my_cursor = mydb.cursor()

query = "CREATE TABLE studentsoflpu(Name VARCHAR(40), RollNo INT(10), Course VARCHAR(20))"

my_cursor.execute(query)

mydb.commit()

In [29]:
import mysql.connector

mydb = mysql.connector.connect(
host="localhost",
user="root",
password="admin",
database="demodb"
)

mycur=mydb.cursor()
mycur.execute("SELECT * FROM customers ORDER BY name DESC")
myres= mycur.fetchall()
for x in myres:
    print(x)

('yogesh', 'ballia')
('yogesh', 'uttar pradesh')
('yogesh', 'ballia')
('Sandy', 'karnatka')
('Michael', 'delhi')
('Hannah', 'jaipur')
('amit', 'mumbai')