In [1]:
import pandas as pd
import time
start = time.time()

In [2]:
df = pd.read_csv("crx.csv", na_values="?", header=None)

In [3]:
df.head()

  0      1      2  3  4  5  6     7  8  9   10 11 12     13   14 15
0  b  30.83  0.000  u  g  w  v  1.25  t  t   1  f  g  202.0    0  +
1  a  58.67  4.460  u  g  q  h  3.04  t  t   6  f  g   43.0  560  +
2  a  24.50  0.500  u  g  q  h  1.50  t  f   0  f  g  280.0  824  +
3  b  27.83  1.540  u  g  w  v  3.75  t  t   5  t  g  100.0    3  +
4  b  20.17  5.625  u  g  w  v  1.71  t  f   0  f  s  120.0    0  +

In [4]:
df.isnull().sum().sum()

67

In [5]:
from sklearn.impute import SimpleImputer

In [6]:
si = SimpleImputer(strategy='most_frequent')

In [7]:
df_im = si.fit_transform(df)

In [8]:
df_im = pd.DataFrame(df_im)

In [9]:
df_im

    0      1       2  3  4   5   6     7  8  9  10 11 12     13   14 15
0    b  30.83     0.0  u  g   w   v  1.25  t  t  1  f  g  202.0    0  +
1    a  58.67    4.46  u  g   q   h  3.04  t  t  6  f  g   43.0  560  +
2    a   24.5     0.5  u  g   q   h   1.5  t  f  0  f  g  280.0  824  +
3    b  27.83    1.54  u  g   w   v  3.75  t  t  5  t  g  100.0    3  +
4    b  20.17   5.625  u  g   w   v  1.71  t  f  0  f  s  120.0    0  +
..  ..    ...     ... .. ..  ..  ..   ... .. .. .. .. ..    ...  ... ..
685  b  21.08  10.085  y  p   e   h  1.25  f  f  0  f  g  260.0    0  -
686  a  22.67    0.75  u  g   c   v   2.0  f  t  2  t  g  200.0  394  -
687  a  25.25    13.5  y  p  ff  ff   2.0  f  t  1  t  g  200.0    1  -
688  b  17.92   0.205  u  g  aa   v  0.04  f  f  0  f  g  280.0  750  -
689  b   35.0   3.375  u  g   c   h  8.29  f  f  0  t  g    0.0    0  -

[690 rows x 16 columns]

In [10]:
df_im.isna().sum().sum()

0

In [11]:
df_im.head()

  0      1      2  3  4  5  6     7  8  9  10 11 12     13   14 15
0  b  30.83    0.0  u  g  w  v  1.25  t  t  1  f  g  202.0    0  +
1  a  58.67   4.46  u  g  q  h  3.04  t  t  6  f  g   43.0  560  +
2  a   24.5    0.5  u  g  q  h   1.5  t  f  0  f  g  280.0  824  +
3  b  27.83   1.54  u  g  w  v  3.75  t  t  5  t  g  100.0    3  +
4  b  20.17  5.625  u  g  w  v  1.71  t  f  0  f  s  120.0    0  +

In [12]:
cols= [0,3,4,5,6,8,9,11,12,15]

In [13]:
from sklearn.preprocessing import LabelEncoder

In [14]:
le=LabelEncoder()
for i in cols:
    df_im[i]=le.fit_transform(df_im[i])
df_im.head()

   0      1      2   3   4   5   6     7   8   9  10  11  12     13   14  15
0   1  30.83    0.0   1   0  12   7  1.25   1   1  1   0   0  202.0    0   0
1   0  58.67   4.46   1   0  10   3  3.04   1   1  6   0   0   43.0  560   0
2   0   24.5    0.5   1   0  10   3   1.5   1   0  0   0   0  280.0  824   0
3   1  27.83   1.54   1   0  12   7  3.75   1   1  5   1   0  100.0    3   0
4   1  20.17  5.625   1   0  12   7  1.71   1   0  0   0   2  120.0    0   0

In [15]:
target = df_im[15]
data=  df_im.drop(columns=[15])

In [16]:
target.shape

(690,)

In [17]:
data.shape

(690, 15)

In [18]:

from sklearn.model_selection import train_test_split

In [19]:
x_train,x_test,y_train,y_test = train_test_split(data,target, test_size=0.3)

In [20]:
from sklearn.preprocessing import StandardScaler
from sklearn.decomposition import PCA
from sklearn.linear_model import Perceptron
from sklearn.tree import DecisionTreeClassifier
from sklearn.svm import SVC
from sklearn.pipeline import Pipeline

In [21]:
pipe = Pipeline([('sc', StandardScaler()), ('pca', PCA()), ('svm1', SVC())])
pipe2 = Pipeline([('sc', StandardScaler()), ('pca', PCA()), ("DSC Tree", DecisionTreeClassifier(criterion='gini', max_depth=3))])
pipe3 = Pipeline([('sc', StandardScaler()), ('pca', PCA()),  ("perceptron", Perceptron(penalty="l2"))])
pipe.fit(x_train, y_train)
pipe2.fit(x_train,y_train)
pipe3.fit(x_train,y_train)

Pipeline(steps=[('sc', StandardScaler()), ('pca', PCA()),
                ('perceptron', Perceptron(penalty='l2'))])

In [22]:
print("Trainimg Accuracy with SVC", pipe.score(x_train, y_train))
print("Testing Accuracy with SVC ", pipe.score(x_test,y_test))

print("Trainimg Accuracy with DSC TREE", pipe2.score(x_train, y_train))
print("Testing Accuracy with DSC TREE", pipe2.score(x_test,y_test))


print("Trainimg Accuracy with PERCEPTRON", pipe3.score(x_train, y_train))
print("Testing Accuracy with PERCEPTRON", pipe3.score(x_test,y_test))

Trainimg Accuracy with SVC 0.8964803312629399
Testing Accuracy with SVC  0.8454106280193237
Trainimg Accuracy with DSC TREE 0.8530020703933747
Testing Accuracy with DSC TREE 0.855072463768116
Trainimg Accuracy with PERCEPTRON 0.7122153209109731
Testing Accuracy with PERCEPTRON 0.7294685990338164

In [23]:
end = time.time()
print("The time of execution of above program is :",
      (end-start),"s")

The time of execution of above program is : 1.2215192317962646 s

In [24]:
from sklearn.naive_bayes import GaussianNB
nb=GaussianNB()
nb.fit(x_train, y_train)
train_pred = nb.predict(x_train)
test_pred = nb.predict(x_test)
from sklearn.metrics import accuracy_score
print("Trainimg Accuracy", accuracy_score(train_pred, y_train))
print("Testing Accuracy ",accuracy_score(test_pred,y_test))

Trainimg Accuracy 0.7784679089026915
Testing Accuracy  0.8115942028985508

In [25]:
from sklearn.model_selection import cross_validate
import numpy as np

In [26]:
for i in range(2,10):
    print(i)
    cv = cross_validate(pipe, data, target, cv=i)
    print(np.average(cv['test_score']))

2
0.844927536231884
3
0.836231884057971
4
0.8377470090065868
5
0.846376811594203
6
0.8405797101449276
7
0.8420502400094237
8
0.8409850307404437
9
0.8418964076858813

In [27]:
cv = cross_validate(pipe, data, target, cv=10)
print(cv) #fit_time, test_time, score_time

{'fit_time': array([0.01799011, 0.01399946, 0.01500106, 0.01499867, 0.0139997 ,
       0.01499867, 0.01499915, 0.0150001 , 0.01400018, 0.01400042]), 'score_time': array([0.00300002, 0.0030005 , 0.00399899, 0.00300002, 0.00399995,
       0.00400114, 0.00399947, 0.00299978, 0.00399995, 0.0040009 ]), 'test_score': array([0.43478261, 0.8115942 , 0.98550725, 0.94202899, 0.94202899,
       0.92753623, 0.86956522, 0.62318841, 1.        , 0.85507246])}

In [28]:
print(cv['test_score'])

[0.43478261 0.8115942  0.98550725 0.94202899 0.94202899 0.92753623
 0.86956522 0.62318841 1.         0.85507246]

In [29]:
import numpy as np
print(np.average(cv['test_score']))

0.8391304347826086

In [30]:
from sklearn.model_selection import StratifiedKFold

In [31]:
skf = StratifiedKFold(n_splits=5)

In [32]:
score = []
for train_index, test_index in skf.split(data,target):
    x_train, x_test = data.iloc[train_index], data.iloc[test_index]
    y_train, y_test = target[train_index], target[test_index]
    pipe.fit(x_train, y_train)
    score.append(pipe.score(x_test, y_test))
print(np.average(score))

0.846376811594203

In [33]:
score = []
from sklearn.model_selection import KFold
kf=KFold(n_splits=5)
for train_index, test_index in kf.split(data, target):
    x_train, x_test=data.iloc[train_index], data.iloc[test_index]
    y_train, y_test=target[train_index], target[test_index]
    pipe.fit(x_train, y_train)
    score.append(pipe.score(x_test, y_test))
print(np.average(score))

0.8362318840579711

In [34]:
from sklearn.model_selection import GridSearchCV

In [35]:
param_range=[0.0001,0.001,0.01,0.1,1,10,1000]
# param = [
#     {'C':param_range,'kernel':['linear']},
#     {'C':param_range,'kernel':['poly']},
#     {'C':param_range,'clf_gamma':param_range,'kernel':['rbf']},

# ]

In [36]:
param = [
    {'C':param_range,'kernel':['linear']},

]

In [37]:
gs = GridSearchCV(SVC(), param_grid=param, scoring='accuracy', cv=2)

In [ ]:
gs.fit(data,target)

In [ ]:
gs.best_score_
gs.best_params_